/* src/components/HomePage/Banner.css */

.banner-container {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden; /* Para ocultar o excesso de imagem desfocada */
  }
  
  .banner-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/images/banner/banner-bg-image.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(6px); /* Adiciona um efeito de desfoque à imagem de fundo */
  }
  
  .banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Adiciona uma cor escura semi-transparente sobre a imagem de fundo */
  }
  
  .banner-content {
    position: relative;
    z-index: 1; /* Para garantir que o conteúdo do banner fique acima da imagem de fundo */
    color: #fff; /* Cor do texto */
  }
  